<!-- Previous week's meeting notes: https://wiki.snowdrift.coop/resources/meetings/2018/ -->
<!-- Meeting location: https://meet.jit.si/snowdrift -->

# Meeting — January 16, 2019

Attendees: wolftune, mray, msiep, Salt, smichel17

<!-- Check-in round -->

## Carry-overs from last meeting

```
## tracking ops tasks for just server maintenance
- NEXT STEP (chreekat): Review/capture ops priorities [chreekat, in his own list]

## Bryan/Stephen meeting — CI/CD improvements
- NEXT STEP (chreekat): write blog post about this process, document <https://git.snowdrift.coop/sd/snowdrift/issues/111>

## Tech volunteers and framework etc
- NEXT STEP (chreekat): Decide whether we're open to the option of moving off of haskell for our web framework

## LFNW + beta milestone prioritizing/scheduling
- NEXT STEP (Salt, wolftune): Submit CFPs by January 31st <https://git.snowdrift.coop/sd/outreach/issues/50>
- NEXT STEP (smichel17): Look through issues, tag backend ones <https://git.snowdrift.coop/sd/governance/issues/47>

## New meeting time?
- NEXT STEP (Salt especially, but everyone): Update weekly availability, see <https://community.snowdrift.coop/t/please-update-your-availability-for-meeting-times-etc/1082/2>
- NEXT STEP (aryeah, fr33domlover, mray, msiep): Add availability

## Use of GitLab kanban boards (+ track civi todos there instead of this pad?)
- NEXT STEP (Salt, msiep, smichel17, h30, all…): Start using the boards to pick your own assignments, mark To Do and Doing appropriately, capture any missing issues
```

## Metrics

Discourse (over past week):

- Signups: 1 -> 0
- New Topics: 11 -> 2
- Posts: 41 -> 19

Sociocracy:

- Page 108

<!-- New Agenda Down Here  -->

## design progress, pace
- Robert: thinking about the interaction situation on the project page where main pledging happens
- We have some foundation, but not happy
- implementation seems the main bottleneck, so not feeling pressure on design tasks
- Msiep: agreed, lots of implementation not happening
- having this bottleneck makes iteration
- wolftune: CiviCRM is not blocker but would help with recruiting, but will move forward
- Robert: I feel in the dark about the technical situation, I would like to understand more and know what newcomers face etc. for potential recruiting
- wolftune: We have no *plan* to move off of haskell for front-end, but if someone came along and was willing to put in time working on snowdrift, but was put off by haskell, we'd be open to it
- wolftune: documention from h30 about his process will be helpful
- Stephen made a script to help Robert more easily check out branches, not published
- the developers we want wouldn't need such things though
- NEXT STEP: h30 does his documentation
- NEXT STEP: wolftune (and anyone else) does proactive recruiting of developers (perhaps check in with previous contributors)
- NEXT STEP (wolftune): blog about development volunteer needs / positions etc.

## Gitlab migration
- smichel17: there is a bug with importing repos, the gitlab folks have offered to migrate the problematic repos manually
- NEXT STEP (smichel17): Accept offer of manual migration, unless the bug will be fixed in the next month or two

<!-- Decide where to capture outstanding tasks -->
<!-- Closing round -->
<!-- Capture TODOs -->
<!-- Add meeting notes to wiki -->