<!-- Previous week's meeting notes: https://wiki.snowdrift.coop/resources/meetings/2018/ -->
<!-- Meeting location: https://meet.jit.si/snowdrift -->

# Meeting — January 2, 2019

Attendees: wolftune, salt, msiep, smichel17, align_waivers

<!-- Check-in round -->

## Carry-overs from last meeting

```
## tracking ops tasks for just server maintenance
- NEXT STEP (chreekat): Review/capture ops priorities [chreekat, in his own list]

## Bryan/Stephen meeting — CI/CD improvements
- NEXT STEP (chreekat): write blog post about this process, document <https://git.snowdrift.coop/sd/snowdrift/issues/111>

## Tech volunteers and framework etc
- NEXT STEP (chreekat): Decide whether we're open to the option of moving off of haskell for our web framework

## Board stuff, Governance overhaul / Volunteer recruitment
- NEXT STEP (wolftune): posts on discourse about things he has personal notes on governance roles.
- NEXT STEP (wolftune): co-working to create a more complete list of roles/titles we want (capture wolftune's notes in better form)
- NEXT STEP: (wolftune) create organized milestone and tasks in governance repo for Board-related and other stuff…
- NEXT STEP (wolftune): Follow up with canawen (explain current status, ask about his coding experience)

## Project outreach, Kodi etc
- NEXT STEP (Salt): Set up an hour to co-work with Michael
- NEXT STEP (msiep): work on feedback form <https://git.snowdrift.coop/sd/outreach/issues/41>

## LFNW + beta milestone prioritizing/scheduling
- NEXT STEP (Salt, wolftune): Submit CFPs by January 31st <https://git.snowdrift.coop/sd/outreach/issues/50>
- NEXT STEP (smichel17): organize the above tasks on to gitlab in some way <https://git.snowdrift.coop/groups/sd/-/milestones/7>

## Knocking out code issues etc.
- NEXT STEP (smichel17): Look through issues, tag backend ones
- NEXT STEP (smichel17): announce alpha-visual-design milestone on forum (to other volunteer devs) <https://git.snowdrift.coop/groups/sd/-/milestones/6>

## Peertube video?
- NEXT STEP (mray): Keep experimenting with peertube <https://git.snowdrift.coop/sd/snowdrift/issues/146>
```

## Metrics

Discourse (over past week):

- Signups: 1 -> 2
- New Topics: 7 -> 2
- Posts: 39 -> 11

Sociocracy:

- Page 108

<!-- New Agenda Down Here  -->

## Design and planning around blocking duplicate patron accounts, issue tracking
- https://git.snowdrift.coop/sd/snowdrift/issues/75 now closed
- where do we capture anything about this in our backlog etc.
- we'll just drop this concern for now
- we use top, high, med, low priority tags now and that's good enough

## Volunteer form, civi
- NEXT STEP: wolftune opens issue in outreach repo tagged with Civi and with details from old discussion, assign to Michael https://git.snowdrift.coop/sd/outreach/issues/28

## Civi, ops
- Salt: we need to decide where Civi lives: suggest move everything but mail off of mx1, get new server for accessory apps including Civi, Ghost, Gitit… (all currently in docker)
- whatever Aryeah wants since he'll help maintain, but potentially just new server with all the needed normal stuff, Nginx (or Apache if he prefers) etc.
- NEXT STEP: get server set up by Aryeah by his prefs, up to the point of Drupal + latest Civi installed (Salt owns Civi config and would like nothing more) https://git.snowdrift.coop/sd/ops/issues/46



<!-- Decide where to capture outstanding tasks -->
<!-- Closing round -->
<!-- Capture TODOs -->
<!-- Add meeting notes to wiki -->
