<!-- Previous week's meeting notes: https://wiki.snowdrift.coop/resources/meetings/2018/ -->
<!-- Meeting location: https://meet.jit.si/snowdrift -->

# Meeting — February 7, 2019

Attendees: smichel, wolftune, msiep, h30, fr33, mray, salt

<!-- Check-in round -->

## Carry-overs from last meeting

```
## tracking ops tasks for just server maintenance
- NEXT STEP (chreekat): Review/capture ops priorities [chreekat, in his own list]

## Bryan/Stephen meeting — CI/CD improvements
- NEXT STEP (chreekat): write blog post about this process, document <https://git.snowdrift.coop/sd/snowdrift/issues/111>

## Tech volunteers and framework etc
- NEXT STEP (chreekat): Decide whether we're open to the option of moving off of haskell for our web framework

## design progress, pace
- NEXT STEP: h30 documents his process of implementing mockups https://git.snowdrift.coop/sd/snowdrift/issues/158

## Use of GitLab kanban boards (+ track civi todos there instead of this pad?)
- NEXT STEP (everyone): Start using the boards to pick your own assignments, mark To Do and Doing appropriately, capture any missing issues
- https://community.snowdrift.coop/t/using-the-kanban-boards-in-gitlab-plus-wolftune-check-in/1263


```

## Metrics

Discourse (over past week): <!-- stats from https://community.snowdrift.coop/admin?period=weekly -->

- Signups: 0 -> 3
- New Topics: 6 -> 5
- Posts: 23 -> 22

Sociocracy:

- Page 108

<!-- New Agenda Down Here  -->

## LFNW CFPs
- Salt: We got some in. Didn't do others because we felt the time working on a talk would be better spent working on the project. And we'll have a table regardless.
- NEXT STEP: (wolftune) adds additional speakers to entry

## LFNW + beta milestone prioritizing/scheduling
- Salt: This is the 20th year, we've set it aside as a milestone that's far enough out, but also near enough, that we can set realistic goals to happen by then.
- Salt: There's a discourse post listing must-haves / should-haves / like-to-haves <https://community.snowdrift.coop/t/lfnw-milestone-goals/1172/>
- NEXT STEP (smichel17): Look through issues, tag backend ones <https://git.snowdrift.coop/sd/governance/issues/47>
- NEXT STEP: (wolftune) bug smichel and otherwise help push this forward

## Coworking times, report
- wolftune: this is the 2nd week, we've organized a formal, planned, regular time (1pm pacific on mondays & wednesdays) for co-working
- smichel17: not *strictly* expected to be Snowdrift stuff in order to check-in or cowork — we still support each other as a team etc.
- smichel17: we should do check-in round then too

## Ops meetings, progress
- NEXT STEP: discuss some regular meeting time (if possible with chreekat), also Aryeah & Salt meetup (wolftune)
- mention Devan http://www.devinulibarri.com/ showed up to cowork session and then didn't get email confirmation for signing up for site and forum…

## recruiting
- wolftune: I started researching, looked into Sociocracy 3.0.
- wolftune: I'm having a little of a hard time juggling my thoughts, welcome others to talk with me
- wolftune: Sociocracy 3.0 looks good enough to just go with as a base
- wolftune: Best short summary is a YouTube video series <https://www.youtube.com/playlist?list=PLasmlLhyX_MQNEF8sO9MVp68NcjBeIEPX> or  https://www.invidio.us/playlist?list=PLasmlLhyX_MQNEF8sO9MVp68NcjBeIEPX
- NEXT STEP: wolftune: better organize those notes and the governance-roles-recruiting milestone https://git.snowdrift.coop/sd/governance/issues/46

## New Project Form
https://community.snowdrift.coop/t/drafting-first-cut-and-fit-forms-for-potential-new-projects/1294
- NEXT STEP: decide on final feedback date before implementing form
- NEXT STEP: (salt) implement form in civifcrm
- msiep: we could start using these forms with projects we're already in touch with (kodi) in odt form, without waiting on civi
- https://git.snowdrift.coop/sd/outreach/issues/41 — task this is about overall



<!-- Decide where to capture outstanding tasks -->
<!-- Closing round -->
<!-- Capture TODOs -->
<!-- Add meeting notes to wiki -->