@import custom

html
    font-size: 50%

body
    margin: 0
    padding: 0


// Images
img
    float: left
    margin: 1em 1.5em 1.5em 0
a img
    border: none


// Links
a
    text-decoration: underline
a:link[href^="http://"]:after, a[href^="http://"]:visited:after
    content: " (" attr(href) ")"


// Table
table
    margin: 3rem 0
    text-align: left

th
    font-weight: 700
caption
    margin: 0 0 0 3em 0
thead
    display: table-header-group
tr
    page-break-inside: avoid


// Hide unused sections
nav, nav.sidebar, footer, #categoryList, ul.tabs
    display: none
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link
    text-decoration: none


// Left-align layout
@media (min-width: 301px)
    .container, .mainCol
        max-width: 100%
        margin: 0
        padding: 0
        float: left

    .mainCol
        margin: 0 3rem
