 <!-- Previous week's meeting notes: https://git.snowdrift.coop/sd/wiki/tree/master/resources/meetings/2018 -->

# Meeting — August 28, 2018

Attendees: 

## Carry-overs from last meeting

```
## tracking ops tasks for just server maintenance
- NEXT STEP (Bryan): Review/capture ops priorities [chreekat, in his own list]

## Better visibility for weekly meetings (esp. including inviting people who aren't core contributors/team)
- NEXT STEP (Stephen): post a discourse announcement about weekly meetings <https://git.snowdrift.coop/sd/outreach/issues/40>

## Governance overhaul
- NEXT STEP (wolftune): posts on discourse about things he has personal notes on governance roles.

## Bryan/Stephen meeting — CI/CD improvements
- NEXT STEP (Bryan): write blog post about this process, document <https://git.snowdrift.coop/sd/snowdrift/issues/111>

## Volunteer recruitment
- NEXT STEP (Aaron): Include this "call for frontend/backend split help" in discourse announce [added to draft: https://community.snowdrift.coop/t/please-join-us-on-the-snowdrift-community-forum/567]
- NEXT STEP: Wait until ~end of September, to decide whether we want to open up option of moving off of haskell for our web framework.
```

## Metrics

Discourse (over past week):

- Signups: 1
- New Topics: 3
- Posts: 24

Sociocracy:

- Page 108


<!-- New Agenda Down Here  -->

## Figure out what metrics to track (for video/discourse)
- chreekat: Who put discourse in metrics and what do they want from it?
- wolftune: I think initially there was some confusion about metrics vs status updates; I think it was put in as a, "Hey, I want to know what's up with *that*."
- smichel17: Initially it was about tracking tasks to launch
- chreekat:  #users, #new threads, #threads with actiivity
- chreekat: stop tracking video, since it doesn't have relevant number?
- others: agreed.
- Salt: could use #outstanding tasks until launch
- others: don't have good enough issue tracking for it to be meaningful, feels encroaching on status reports

## Status reports
- Do we want status reports in addition to metrics?
- wolftune: I like having them on Discourse. <Reasons I didn't catch in the notes>

## Video project management, design, code etc
- wolftune: Robert has been doing (but not announcing) updates to the home page mockups
- wolftune: It looks usable to me. Someone needs to implement it. Also we need to decide where to host the video.
- wolftune: I don't think there's a clear plan for getting from here to there.
- where is the video? : https://community.snowdrift.coop/t/snowdrift-video-finally/948
- chreekat: I think the general question being posed is: the outreach circle has stuff it wants the website circle to do, and wants to know if they will do that, and when.
- chreekat: I co-worked with Michael recently and will again, and this is one question we'll be looking at.
- chreekat: Where it gets hosted is a technical decision that gets made by the website circle; you don't need to worry about it.
- wolftune: I'll be the person who exports the particular formats the website circle wants, so tell me what you want.
- wolftune: I can put something on archive.org additionally & in the interim if we want. Should I?
- Salt: Yes.
- NEXT STEP (Aaron): Post video on Archive.org.

## [Post-meeting] Discourse notifications / subcategories
- smichel17: it looks like subscribing to a category does *not* make you recieve notifications for posts to a sub-category
- NEXT STEP: Review recommendations post https://community.snowdrift.coop/t/welcome-to-the-snowdrift-coop-community-forum/8/3

<!-- Decide where to capture outstanding tasks -->
<!-- Closing round -->
<!-- Capture TODOs -->
<!-- Add meeting notes to wiki -->